{{- if .Values.cloudflared.enabled -}}

{{- $cloudflaredFullname := printf "cloudflared-%s" (include "one-chart.fullname" .) }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $cloudflaredFullname }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "one-chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: cloudflared
  replicas: {{ .Values.cloudflared.replicaCount }}
  {{- with .Values.cloudflared.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      {{- with .Values.cloudflared.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "one-chart.labels" . | nindent 8 }}
        app.kubernetes.io/component: cloudflared
        {{- with .Values.cloudflared.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: cloudflared
          image: "{{ .Values.cloudflared.image.repository }}:{{ .Values.cloudflared.image.tag }}"
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config/config.yaml
            - run
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10

          ports:
            - containerPort: 2000
              name: http-metrics
          
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ $cloudflaredFullname }}
                  key: tunnel-token

          volumeMounts:
            - name: config
              mountPath: /etc/cloudflared/config
              readOnly: true

      restartPolicy: Always

      volumes:
        - name: config
          configMap:
            name: {{ $cloudflaredFullname }}
            items:
              - key: config.yaml
                path: config.yaml
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $cloudflaredFullname }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
data:
  config.yaml: |
    tunnel: {{ .Values.cloudflared.tunnel.name }}

    metrics: 0.0.0.0:2000

    no-autoupdate: true
    ingress:
    - hostname: {{ .Values.cloudflared.tunnel.publicHostname }}
      service: {{ .Values.cloudflared.tunnel.localHostname }}
      {{- with .Values.cloudflared.tunnel.originRequest }}
      originRequest:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    - service: http_status:404
---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ $cloudflaredFullname }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
spec:
  itemPath: "vaults/{{ .Values.cloudflared.onepassword.vault }}/items/{{ .Values.cloudflared.onepassword.item }}"
---
{{- if .Values.cloudflared.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $cloudflaredFullname }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: cloudflared
spec:
  type: ClusterIP
  ports:
    - port: 2000
      targetPort: http-metrics
      protocol: TCP
      name: http-metrics
  selector:
    {{- include "one-chart.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: cloudflared
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ $cloudflaredFullname }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: cloudflared
    prometheus: kube-prometheus-stack
  {{- with .Values.cloudflared.prometheus.additionalLabels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "one-chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: cloudflared
  endpoints:
    - port: {{ .Values.cloudflared.prometheus.portName }}
      path: {{ .Values.cloudflared.prometheus.path }}
      interval: {{ .Values.cloudflared.prometheus.interval }}
      scrapeTimeout: {{ .Values.cloudflared.prometheus.scrapeTimeout }}
      {{- with .Values.cloudflared.prometheus.relabelings }}
      relabelings:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.cloudflared.prometheus.metricRelabelings }}
      metricRelabelings:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end -}}
