apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "one-chart.fullname" . }}
  labels:
    {{- include "one-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "one-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.prometheus.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.prometheus.port }}"
        prometheus.io/path: "{{ .Values.prometheus.path }}"
        prometheus.io/interval: "{{ .Values.prometheus.interval }}"
        prometheus.io/scrape_timeout: "{{ .Values.prometheus.scrapeTimeout }}"
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "one-chart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      {{- if ne .Values.automountServiceAccountToken false }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        {{- with .Values.extraContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: {{ .Release.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- if .Values.service.ports }}
            {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
            {{- else }}
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.volumeMounts .Values.persistentVolumes (and .Values.persistentVolume.enabled (not .Values.persistentVolumes)) }}
          volumeMounts:
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- end }}
            {{- if .Values.persistentVolumes }}
            {{- range .Values.persistentVolumes }}
            - name: {{ include "one-chart.fullname" $ }}-{{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
            {{- else if .Values.persistentVolume.enabled }}
            - name: {{ include "one-chart.fullname" . }}
              mountPath: {{ .Values.persistentVolume.mountPath | default "/data" }}
            {{- end }}
          {{- end }}
          {{- with .Values.environmentVariables }}
          {{- if .container.enabled }}
          env:
            {{- toYaml .container.variables | nindent 12 }}
          {{- end }}
          {{- if or .fromConfigMap.enabled .fromSecret.enabled }}
          envFrom:
            {{- if .fromConfigMap.enabled }}
            {{- range .fromConfigMap.configMaps | default (list) }}
            - configMapRef:
                name: {{ . }}
            {{- end }}
            {{- end }}
            {{- if .fromSecret.enabled }}
            {{- range .fromSecret.secrets | default (list) }}
            - secretRef:
                name: {{ . }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- end }}
      {{- if or .Values.volumes .Values.persistentVolumes (and .Values.persistentVolume.enabled (not .Values.persistentVolumes)) }}
      volumes:
        {{- if .Values.volumes }}
        {{- toYaml .Values.volumes | nindent 8 }}
        {{- end }}
        {{- if .Values.persistentVolumes }}
        {{- range .Values.persistentVolumes }}
        - name: {{ include "one-chart.fullname" $ }}-{{ .name }}
          persistentVolumeClaim:
            claimName: {{ include "one-chart.fullname" $ }}-{{ .name }}
        {{- end }}
        {{- else if .Values.persistentVolume.enabled }}
        - name: {{ include "one-chart.fullname" . }}
          persistentVolumeClaim:
            claimName: {{ include "one-chart.fullname" . }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if and .Values.dns .Values.dns.enabled }}
      {{ if .Values.dns.enabled }}
      {{- with .Values.dns.policy }}
      dnsPolicy: {{ . }}
      {{- end }}
      {{- with .Values.dns.config }}
      dnsConfig:
        {{- if .nameservers }}
        nameservers:
          {{- range .nameservers }}
          - {{ . }}
          {{- end }}
        {{- end }}
        {{- if .options }}
        options:
          {{- range .options }}
          - name: {{ .name }}
            value: {{ .value | quote }}
          {{- end }}
        {{- end }}
        {{- if .searches }}
        searches:
          {{- range .searches }}
          - {{ . }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
