{{- if .Values.persistentVolumes }}
{{- range .Values.persistentVolumes }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "one-chart.fullname" $ }}-{{ .name }}
  labels: 
    {{- include "one-chart.labels" $ | nindent 4 }}
spec:
  accessModes:
    {{- range .accessModes | default (list "ReadWriteOnce") }}
    - {{ . }}
    {{- end }}
  resources:
    requests:
      storage: {{ .size | default "1Gi" }}
  storageClassName: {{ .storageClass }}
{{- end }}
{{- else if .Values.persistentVolume.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "one-chart.fullname" . }}
  labels: 
    {{- include "one-chart.labels" . | nindent 4 }}
spec:
  accessModes:
    {{- range .Values.persistentVolume.accessModes }}
    - {{ . }}
    {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistentVolume.size | default "1Gi" }}
  storageClassName: {{ .Values.persistentVolume.storageClass }}
{{- end }}