apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  - serviceaccount.yaml
  - rbac.yaml
  - configmap.yaml
  - service.yaml
  - daemonset.yaml
  - servicemonitor.yaml
  - networkpolicy.yaml
  - pdb.yaml
