apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage

generatorOptions:
  disableNameSuffixHash: true
  labels:
    app.kubernetes.io/managed-by: fluxcd
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled

configMapGenerator:
  - name: homepage-config
    files:
      - settings.yaml
      - services.yaml
      - widgets.yaml
      - bookmarks.yaml

resources:
  - namespace.yaml
  - rbac.yaml
  - release.yaml
