storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@gatus-db-rw.cnpg-system.svc.cluster.local:5432/${POSTGRES_DB}?sslmode=disable"

security:
  basic:
    username: ${GATUS_USERNAME}
    password-bcrypt-base64: ${GATUS_PASSWORD_ENCRIPTED}

metrics: true

web:
  port: ${WEB_PORT}

ui:
  title: Gondor | Status
  description: Gondor homelab systems status.
  header: Gondor
  logo: https://raw.githubusercontent.com/josimar-silva/homelab/refs/heads/main/docs/images/homelab-logo.png
  link: https://hello.from-gondor.com
  dark-mode: true
  default-sort-by: group
  buttons:
    - name: Homelab
      link: https://github.com/josimar-silva/homelab
    - name: Blog
      link: https://josimar-silva.com/blog
    - name: Github
      link: https://github.com/josimar-silva

connectivity:
  checker:
    target: 8.8.8.8:53
    interval: 1m

external-http: &external
  group: External
  type: http
  interval: 30s
  client:
    timeout: 30s
    dns-resolver: tcp://8.8.8.8:53
  conditions:
    - "[STATUS] == 200"
    - "[CERTIFICATE_EXPIRATION] > 48h"

internal-http: &internal
  group: Internal
  type: http
  interval: 1m
  client:
    timeout: 30s
    dns-resolver: tcp://192.168.68.111:53
  ui:
    hide-hostname: true
    hide-port: true
    hide-url: true
  conditions:
    - "[STATUS] == 200"

dns-server: &dns-server
  group: DNS Servers
  type: dns
  interval: 1m
  dns:
    query-name: "from-gondor.com"
    query-type: "A"
  conditions:
    - "[DNS_RCODE] == NOERROR"   

dns-query: &dns-query
  group: DNS
  type: dns
  url: "169.254.20.10"
  interval: 5m
  conditions:
    - "[DNS_RCODE] == NOERROR"

endpoints:
  - name: Anduril
    <<: *internal
    url: https://anduril.from-gondor.com
    client:
      dns-resolver: tcp://192.168.68.1:53
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Gondor GPT
    <<: *internal
    url: https://chat.from-gondor.com

  - name: Saruman
    <<: *internal
    url: http://saruman.from-gondor.com:11434

  - name: Gwaihir
    <<: *internal
    url: http://gwaihir.gwaihir.svc.cluster.local:9600/version
    client:
      dns-resolver: tcp://169.254.20.10:53

  - name: Longhorn
    <<: *internal
    url: http://longhorn.homelab.lan/
  
  - name: Minas Tirith
    <<: *internal
    url: https://minas-tirith.from-gondor.com/cgi-bin/
    client:
      insecure: true
      dns-resolver: tcp://192.168.68.111:53

  - name: Plex
    <<: *internal
    url: http://minas-tirith.from-gondor.com:32400/
    conditions:
      - "[STATUS] == 401"

  - name: Home Assistant
    <<: *internal
    url: http://ha.homelab.lan:8123/

  - name: Speedtest Tracker
    <<: *internal
    url: https://speedtest.from-gondor.com/admin/login

  - name: PgAdmin
    <<: *internal
    url: https://pgadmin.from-gondor.com/login

  - name: Headlamp
    <<: *internal
    url: https://headlamp.from-gondor.com

  - name: Gondor Homepage
    <<: *external
    url: https://hello.from-gondor.com

  - name: Calibre Web Automated
    <<: *external
    url: https://calibre.from-gondor.com/

  - name: Linkwarden
    <<: *external
    url: https://linkwarden.from-gondor.com/

  - name: Gatus
    <<: *external
    url: https://uptime.from-gondor.com/

  - name: Personal Website
    <<: *external
    url: https://josimar-silva.com/

  - name: Kaizen Website
    <<: *external
    url: https://kaizen.josimar-silva.com/

  - name: Gondor DNS
    <<: *dns-query
    dns:
      query-name: "hello.from-gondor.com"
      query-type: "A"

  - name: Apex DNS
    <<: *dns-query
    dns:
      query-name: "josimar-silva.com"
      query-type: "A"

  - name: Blog DNS
    <<: *dns-query
    dns:
      query-name: "blog.josimar-silva.com"
      query-type: "A"

  - name: Kaizen DNS
    <<: *dns-query
    dns:
      query-name: "kaizen.josimar-silva.com"
      query-type: "A"

  - name: Pi-hole Primary
    <<: *dns-server
    url: 192.168.68.201    

  - name: Pi-hole Replica 01
    <<: *dns-server
    url: 192.168.68.116    

  - name: Pi-hole Replica 02
    <<: *dns-server
    url: 192.168.68.111    
